<!DOCTYPE html>
<htlm>
    <head>
        <style>
          /* Style pour le titre */
          h1 {
            text-align: center;
            font-size: 36px;
            font-weight: bold;
            text-decoration: underline;
            color: red;
          }
        </style>
        <meta charset="utf-8">
        <title>Final Project Python for Data Analysis</title>
    </head>
    <body>
        <h1>Final Project Python for Data Analysis</h1>
    </body>
    <body>
      <button><a href="page1" onclick="alert('You choose the informations of the dataset')">Info dataset</a></button>
  
      <button><a href="page2" onclick="alert('You choose the visualization part')">Visualization</a></button>

      <button><a href="page3" onclick="alert('You choose the modeling part')">Modeling</a></button>
      </body>
</htlm>



